# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]

# --------------------
# Virtual Environments
# --------------------
.venv/
venv/

# --------------------
# Environment Variables
# --------------------
.env
.env.*

# --------------------
# Databases
# --------------------
*.db
!database/sample_jobs.db


# --------------------
# Streamlit
# --------------------
.streamlit/

# --------------------
# Data / Exports
# --------------------
*.csv

# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db
